<%- include ("../_partials/_header.ejs"); %>

  <h1>Welcome to the Sign In page!</h1>
  <p>Please choose your sign-in method below...</p>

  <div class="g-signin2" data-onsuccess="onSignIn"></div>
  <br>
  <form action="/auth/github">
    <input type="submit" name="Login with GitHub" />
  </form>
  <br>
  <form action="/auth/twitter">
    <input type="submit" style="background: url(../../sign-in-with-twitter-gray.png.twimg.1920.png)" alt="Login with Twitter" />
  </form>

  <script>

      function onSignIn(googleUser) {
        var id_token = googleUser.getAuthResponse().id_token;
        
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/login');
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.onload = function() {
        console.log('Signed in as: ' + xhr.responseText);
        if (xhr.responseText == 'success') {
          signOut();
          //This is where the user will be redirected after signing in.
          location.assign('/patient');
        }
        };
        xhr.send(JSON.stringify({token: id_token}));
    }

  </script>

    <script>
        function signOut() {
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
            console.log('User signed out.');
            });
        }
    </script>

<% include ("../_partials/_footer.ejs"); %>