<%- include ("../_partials/_res_header.ejs"); %>
    <h1>RSS Feed from Twitter for you...</h1>

    <iframe width="900" height="1600" src="https://rss.app/embed/v1/wall/FqqHH5JGgxaGKb4e" frameborder="0"></iframe>

    <a href="\logout">Sign out.</a>
<% include ("../_partials/_footer.ejs"); %>