<%- include ("../_partials/_header.ejs"); %>
    <h1>Welcome, Physician!</h1>
    <p>This is where you would view your patient's data and files. There will be sections at the top for this.</p>
<% include ("../_partials/_footer.ejs"); %>