<%- include ("../_partials/_res_header.ejs"); %>
    <h2>Welcome, Researcher!</h2>
    <h3>This is where you can view your patient's data and your news feed. </h3>
    <h3>Please use the provided sections at the top of this page.</h3>
    <form action="\logout">
        <input type="submit" value="Log Out" />
    </form>
<% include ("../_partials/_footer.ejs"); %>