<%- include ("../_partials/_patient_header.ejs"); %>
<p>Here, the videos would be listed for the patient.</p>
<li><iframe width="560" height="315" src="https://www.youtube.com/embed/wkDiOCIX_xA" title="Balance Exercises" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>
<li><iframe width="560" height="315" src="https://www.youtube.com/embed/8AvLz59Yk_Y" title="Parkinson's Exercise" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>
<li><iframe width="420" height="345" src="https://www.youtube.com/embed/tgbNymZ7vqY?controls=1"></iframe></li>
<li><iframe width="420" height="345" src="https://www.youtube.com/embed/tgbNymZ7vqY?controls=1"></iframe></li>
<li><iframe width="420" height="345" src="https://www.youtube.com/embed/tgbNymZ7vqY?controls=1"></iframe></li>
<% include ("../_partials/_footer.ejs"); %>