<%- include ("../_partials/_patient_header.ejs"); %>
<h1>Below is a pst of video exercises for you...</h1><br>
<p>Parkinson's Disease Exercises</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/8AvLz59Yk_Y" title="Parkinson's Exercise" frameborder="0" controls="1"></iframe>

<p>Balance Exercises
<iframe width="560" height="315" src="https://www.youtube.com/embed/wkDiOCIX_xA" title="Balance Exercises" frameborder="0" controls="1"></iframe>
</p>

<p>Strengthening Exercises</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/MsXlZ_phGNY" title="Strengthening Exercises" frameborder="0" controls="1"></iframe>


<p>Flexibipty Exercises</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/7CFLm1SL5EU" title="Flexibipty Exercises" frameborder="0" controls="1"></iframe>


<p>Exercises for Coordination</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/XZ2ifY3uYbI" title="Exercises for Coordination" frameborder="0" controls="1"></iframe>
<% include ("../_partials/_footer.ejs"); %>