<%- include ("../_partials/_patient_header.ejs"); %>
<p>Here, the videos would be listed for the patient.</p>
<li>Balance Exercises
    <iframe width="560" height="315" src="https://www.youtube.com/embed/wkDiOCIX_xA" title="Balance Exercises" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</li>

<li><iframe width="560" height="315" src="https://www.youtube.com/embed/8AvLz59Yk_Y" title="Parkinson's Exercise" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</li>

<li>Strengthening Exercises
    <iframe width="560" height="315" src="https://www.youtube.com/embed/MsXlZ_phGNY" title="Strengthening Exercises" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</li>

<li>Flexibility Exercises
    <iframe width="560" height="315" src="https://www.youtube.com/embed/7CFLm1SL5EU" title="Flexibility Exercises" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</li>

<li>Exercises for Coordination
    <iframe width="560" height="315" src="https://www.youtube.com/embed/XZ2ifY3uYbI" title="Exercises for Coordination" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>
<% include ("../_partials/_footer.ejs"); %>